
week1/hw1/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week01-Thallam-checkpoint.ipynb

week2/hw2/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week02-Thallam-checkpoint.ipynb

week3/hw3/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week03-Thallam-checkpoint.ipynb

week4/hw4/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week04-Thallam-checkpoint.ipynb

*.pyc

week6/hw6/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week06-Thallam-checkpoint.ipynb

week10/hw9/.ipynb_checkpoints/MIDS-W261-2015-HWK-07-Thallam-WAITING-Copy1-checkpoint.ipynb

week10/hw9/.ipynb_checkpoints/MIDS-W261-2015-HWK-07-Thallam-checkpoint.ipynb

week10/hw9/.ipynb_checkpoints/MIDS-W261-2015-HWK-07-Thallam-PageRank-checkpoint.ipynb

week10/hw9/.ipynb_checkpoints/MIDS-W261-2015-HWK-07-Thallam-WAITING-Copy2-checkpoint.ipynb

week10/hw9/.ipynb_checkpoints/MIDS-W261-2015-HWK-09-MAALOUF-THALLAM-checkpoint.ipynb

*.swp

week11/hw10/.ipynb_checkpoints/EM-Kmeans-checkpoint.ipynb

week11/hw10/.ipynb_checkpoints/MIDS-W261-2015-HWK-10-THALLAM-checkpoint.ipynb

week12/hw11/.ipynb_checkpoints/MIDS-W261-2015-HWK-11-THALLAM-checkpoint.ipynb

week12/hw11/.ipynb_checkpoints/MIDS-W261-2015-HWK-13-THALLAM-checkpoint.ipynb

week12/hw11/.ipynb_checkpoints/SVM-Notebook-Linear-Kernel-2015-06-19-checkpoint.ipynb

week13/project-CTR/.ipynb_checkpoints/MIDS-MLS-Project-Criteo-CTR-THALLAM-checkpoint.ipynb

week14/hw13/.ipynb_checkpoints/MIDS-W261-2015-HWK-13-THALLAM-checkpoint.ipynb

week14/hw13/.ipynb_checkpoints/spark-pagerank-checkpoint.ipynb
