
week1/hw1/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week01-Thallam-checkpoint.ipynb

week2/hw2/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week02-Thallam-checkpoint.ipynb

week3/hw3/.ipynb_checkpoints/MIDS-W261-2015-HWK-Week03-Thallam-checkpoint.ipynb
